@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body,h5,label{
  font-family: 'Poppins',sans-serif;
}

.flex-1 {
  flex: 1;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: rgb(19, 146, 196);
}

