{%extends 'bookflightapp/base.html'%}
{%load static%}
{%block title%}Date Search{%endblock title%}
{%block content%}
  <div class="container">
    <div>
      <h3>Search by Date</h3>
    </div> <br>
    <form action="{%url 'date-search' %}">
      <div class="container-sm">

        <div class="row">
          <div class="mb-2 col">
            <div class="h-100 card">
              <div class="card-body">
                <h5 class="card-title">Dates</h5>
                <div id="departure-date" class="mb-2">
                  <label
                    id="departure-date-label"
                    for="departure-date-input"
                    class="form-label"
                    >Departure date</label
                  >
        
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class='bx bx-calendar bx-burst'></i></span>
                    <input type="date"  name="username" required class="form-control"/>
                  </div>
                  
                </div>
                <div id="return-date" class="mb-2">
                  <label>Arrival date</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class='bx bxs-calendar'></i>
                  </span>
                  <input type="date" class="form-control" name="arrival-date">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id="search-button" class="w-100 btn btn-primary">Search</button>
      </div>
    </form>
    <a href="{% url 'name-search' %}" class="w-100 btn btn-link">Search by Name</a>
    <br>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th>Aeroplane</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Price</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Hours Taken</th>
            <th>Book Flight</th>
          </tr>
          {% for details in flight %}
            <tr>
              <td><a class="btn btn-sm btn-success"
                href="{% url 'bookdetails' details.id %}">{{details.aeroplane}}</a>
              </td>
              <td>{{details.departure.name}}</td>
              <td>{{details.destination.name}}</td>
              <td>{{details.price}}</td>
              <td>{{details.departure_datetime}}</td>
              <td>{{details.arrival_datetime}}</td>
              <td>{{details.duration}}</td>
              <td><a class="btn btn-sm btn-primary" href="{% url 'book-flight' %}">Book Flight</a></td>
      
            </tr>

          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <script src="{% static 'bookflightapp/script.js' %}"></script>
{%endblock content%}




